body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    color: black;
}

header{
    background-color: #007bff; /*Azul profissional*/
    color: white;
    padding: 20px;

}